body {
    background-color: #DEA653;
    background-image:url(wallpaper.jpeg);
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#demo {
    font-family: "STIX Two Text", serif;
    font-weight: 500;
    font-size: 150px;
    text-align: center;
    color: rgb(83, 16, 16);
    margin-bottom: 3%;
    margin-left: 2%;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    margin-right: 2%; 
}
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  
  .btn-1 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(177, 53, 39);
  background: linear-gradient(0deg, rgb(159, 20, 4) 0%, rgb(149, 4, 4) 100%);
  }
  .btn-1:hover {
    color:  #761212;
    background: transparent;
     box-shadow:none;
     font-weight: bold;
  }
  .btn-1:before,
  .btn-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #761212;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-1:hover:before,
  .btn-1:hover:after{
    width:100%;
    transition:800ms ease all;
  }

@media (max-width: 768px) {
    #demo {
        font-size: 100px;
        margin-top: 18%;
        line-height: 1;
    }
}
